@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300&display=swap');

.heading{
  color:black; 
  padding: 10% 6% 1.5% 6%;
  font-size: 5vh;
  margin:10vh 0px 0px 0px;
  font-family: 'Rubik', sans-serif;
}

.heading2{
color: "black"; 
font-size: "2vh";
margin:"auto";
font-family: 'Rubik', sans-serif;
}

label[type=emailTitle] {
    width: 100%;
    padding: 2% 0% 0% 0%;
    margin-top:10%;
    margin: 8px 0;
    box-sizing: border-box;
    color:black;
    border: none ;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    
  }
  input[type=email] {
    width: 55%;
    padding: 12px 60px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
  }

  button[type=submitButton] {
    width: 10%;
    display: block;
    margin-left: 46%;
    margin-top:1% ;
    padding: 0%;
    background-color: white;
    border-radius: 5px;
  }

  label[type=messageTitle] {
    width: 100%;
    padding: 12% 0% 0% 0%;
    margin-top:10%;
    margin: 8px 0;
    box-sizing: border-box;
    color:black;
    border: none ;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin:10vh 0px 0px 0px;
    
  }

  input[type=text] {
    width: 55%;
    padding: 12px 60px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
  }




  @media only screen and (max-width: 600px) {
    .heading{
      font-size:3vh;
      padding:20% 0 0 0;
    }
    .heading2{
      font-size: 2vh;
      margin-top:5%;
    }
    label[type=emailTitle] {
      font-size: 2.5vh;
    }
    input[type=email] {
      padding:0px;
      width: 80%;
      font-size:12px;

    }
    button[type=submitButton] {
      width: 20%;
      background-color: white;
      border-radius: 5px;
      font-size: 2vh;
      margin-left: 39%;
      margin-top: 5%;
  
    }


  }